node_modules/
.next/
out/
build/
dist/

__pycache__/
*.spec
*.env
.DS_Store
*.exe
systracker.db
systracker.db-journal
config.json

# Build Artifacts
server/dashboard-dist/
release/
agent/dist/
agent/build/
agent/SysTracker_Agent.spec
*.pyc
