node_modules/
.next/
out/
build/
dist/

__pycache__/
*.env
.DS_Store
*.exe
systracker.db
systracker.db-journal
config.json

# Build Artifacts
server/dashboard-dist/
Release/
RELEASE/
agent/dist/
agent/build/
*.pyc
